<div class="row">
    <div class="col text-end">
        <button type="button" class="btn btn-outline-secondary m-1" (click)="toList()">목록</button>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>타이틀...</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>컨텐츠...</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col text-center">
    <button type="button" class="btn btn-secondary m-1" (click)="delete()">삭제</button>
    <button type="button" class="btn btn-secondary m-1" (click)="toModify()">수정</button>
</div>
