<table class="table">
    <tbody> 
        <tr>
            <th class="bg-success text-center" colspan="2">Invesco Capital Mana....</th> 
            <th class="bg-danger bold text-center ">상승률</th> 
            <th class="bg-primary bold text-center ">하락률</th> 
            <td class="align-center" colspan="2">
                <button type="button" class="btn btn-info btn-fill btn-sm">show position</button>
            </td> 
        </tr>
        <!-- 100% 구간 -->
        <tr>
            <td class="text-end" v-bind:class="{ 'bg-info': showPoint[0] }">$46.42</td> 
            <th class="bg-dark text-white text-center">최고</th> 
            <td class="text-end text-danger">15.13%</td>  <!--상승률 -->
            <td class="text-end bg-primary text-white ">0%</td>  <!--하락률 -->
            <td> &nbsp;</td> 
            <td> &nbsp;</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary" ></td> 
            <td class="bg-primary text-white text-center">75%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">50%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">25%</td> 
        </tr>
<!-- 75% 구간 -->
        <tr>
            <td class="text-end"></td> 
            <td class="bg-dark text-white text-center">75%</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td> &nbsp;</td> 
            <td> &nbsp;</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">75%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">50%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">25%</td> 
        </tr>


        <!-- 50% 구간 -->
        <tr>
            <td class="text-end"></td> 
            <td class="bg-dark text-white text-center">50%</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td> &nbsp;</td> 
            <td> &nbsp;</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">75%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">50%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">25%</td> 
        </tr>


        <!-- 25% 구간 -->
        <tr>
            <td class="text-end"></td> 
            <td class="bg-dark text-white text-center">25%</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td> &nbsp;</td> 
            <td> &nbsp;</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">75%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">50%</td> 
        </tr>
        <tr>
            <td> </td> 
            <td> &nbsp;</td> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td class="text-end text-primary"></td> 
            <td class="bg-primary text-white text-center">25%</td> 
        </tr>

        <tr>
            <td class="text-end"></td> 
            <th class="bg-dark text-white text-center">최저</th> 
            <td class="text-end text-danger"></td>  <!--상승률 -->
            <td class="text-end text-primary"></td>  <!--하락률 -->
            <td> &nbsp;</td> 
            <td> &nbsp;</td> 
        </tr>
      </tbody>

</table>