<div class="conatiner">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <h2  for="inputGroupSelect01">관심종목</h2>
                </div>
            </div>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-secondary m-1">Add Ticker</button>
            <button type="button" class="btn btn-outline-primary m-1">Excel</button>
        </div>
    </div>
    <div class="row">
        <app-interest-stock-list></app-interest-stock-list>
    </div>
    <div class="row">
        <!-- footer -->
    </div>
</div>
