<div class="conatiner">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <h2  for="inputGroupSelect01">매매일지</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-trading-note-register></app-trading-note-register>
    </div>
    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-outline-primary m-1">Excel</button>
        </div>
    </div>
    <div class="row">
        <app-trading-note-list></app-trading-note-list>
    </div>
    <div class="row">
        <!-- footer -->
    </div>
</div>
