<div class="conatiner">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <h2  for="inputGroupSelect01">Portfolio</h2>
                </div>
                <select class="custom-select m-3" id="inputGroupSelect01">
                    <option>배당주포트폴리오</option>
                    <option>성장주포트폴리오</option>
                </select>
            </div>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-secondary m-1">Add Portfolio</button>
            <button type="button" class="btn btn-secondary m-1">Add Ticker</button>
            <button type="button" class="btn btn-outline-primary m-1">Excel</button>
        </div>
    </div>
    <div class="row">
        <app-portfolio-list></app-portfolio-list>
    </div>
    <div class="row">
        <!-- footer -->
    </div>
</div>
